<div class="autoComplete">
  <label for="companyName" class="autoComplete__label">Компания</label>
  <input
    id="companyName"
    type="search"
    class="autoComplete__input"
    [class.hasData]="(cashCompanies | filter:search:['domain', 'name'])?.length"
    [(ngModel)]="search"
    (input)="updateData()">
  <ng-container *ngIf="(cashCompanies | filter:search:['domain', 'name'])?.length">
    <ul class="autoList" >
      <li
        *ngFor="let comp of cashCompanies | filter:search:['domain', 'name']"
        (click)="setCompanyName(comp.name)"
        class="autoList__item">
          <span class="autoList__item_logo"><img [src]="comp.logo" alt=""></span>
          <span class="text-info">
            <span class="autoList__item_title">{{comp.name}}</span>
            <a
              [href]="'https://' + 'comp.domain'"
              target="_blank"
              class="autoList__item_subtitle text-sm">
              {{comp.domain}}
            </a>
          </span>
      </li>
    </ul>
  </ng-container>

  <ng-container *ngIf="search.length && !(cashCompanies | filter:search:['domain', 'name'])?.length && cashCompanies.length !== 0">
    <p>Нет совпадений</p>
  </ng-container>
</div>
